<ion-item class="custom-input" lines="none">
  <ion-icon color="danger" *ngIf="icon" slot="start" [name]="icon"></ion-icon>

  <!-- Si NO es select, muestra ion-input -->
  <ion-input
    *ngIf="!isSelect"
    [type]="type"
    [autocomplete]="autocomplete"
    [label]="label"
    [formControl]="control"
    label-placement="floating"
  ></ion-input>

  <!-- Si ES select, muestra ion-select -->
  <ion-select
    *ngIf="isSelect"
    [formControl]="control"
    [placeholder]="label"
    interface="action-sheet"
  >
    <ion-select-option *ngFor="let opt of options" [value]="opt.value">{{ opt.label }}</ion-select-option>
  </ion-select>

  <ion-button *ngIf="isPassword && !isSelect" (click)="showOrHidePassword()" slot="end" fill="clear" shape="round">
    <ion-icon slot="icon-only" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>  
  </ion-button>

  <!-- Validación de errores -->
  <div *ngIf="control.touched && control.invalid" class="validators">
    <div *ngIf="control.errors?.['required']">{{ label }} es requerido.</div>
    <div *ngIf="control.errors?.['minlength']">{{ label }} debe tener al menos {{ control.errors?.['minlength'].requiredLength }} caracteres.</div>
    <div *ngIf="control.errors?.['maxlength']">{{ label }} no puede tener más de {{ control.errors?.['maxlength'].requiredLength }} caracteres.</div>
    <div *ngIf="control.errors?.['email']">Debe ingresar un correo electrónico válido.</div>
    <!-- Puedes agregar más tipos de errores aquí según sea necesario -->
  </div>
</ion-item>
