.form-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  ion-item {
    --border-radius: 12px;
    margin-bottom: 12px;
  }
  
  .preview {
    text-align: center;
    margin-top: 16px;
  
    img {
      max-width: 100%;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
  }
  

  .image-icon{
    font-size: 100px;
    opacity: 30%;
  }