// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-primary: #ffffff;
    --ion-color-primary-rgb: 34, 36, 40;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #1e2023;
    --ion-color-primary-tint: #383a3e;
  
    --ion-background-color: #14212f;
    --ion-background-color-rgb: 34, 36, 40;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0e0e0e;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #242424;
    --ion-color-step-200: #2e2e2e;
    --ion-color-step-250: #383838;
    --ion-color-step-300: #434343;
    --ion-color-step-350: #4e4e4e;
    --ion-color-step-400: #595959;
    --ion-color-step-450: #646464;
    --ion-color-step-500: #707070;
    --ion-color-step-550: #7c7c7c;
    --ion-color-step-600: #878787;
    --ion-color-step-650: #939393;
    --ion-color-step-700: #9f9f9f;
    --ion-color-step-750: #ababab;
    --ion-color-step-800: #b7b7b7;
    --ion-color-step-850: #c3c3c3;
    --ion-color-step-900: #cfcfcf;
  }